input{
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    outline: none;
    display: block;
    width: 78.2%;
}
input:focus{
    box-shadow: 0 0 20px #a1a5d8;
}
